dirs:
    exp: libri
    train:
        scp: /mnt/lustre/xushuang2/easton/data/libriSpeech/feats/feats.train-100.scp
        trans: /mnt/lustre/xushuang2/easton/data/libriSpeech/subword_data/train-100.trans
        tfdata: /mnt/lustre/xushuang2/easton/data/libriSpeech/subword_data/tfdata/train-100_x
    dev:
        scp: /mnt/lustre/xushuang2/easton/data/libriSpeech/feats/feats.dev-clean.scp
        trans: /mnt/lustre/xushuang2/easton/data/libriSpeech/subword_data/dev-clean.trans
        tfdata: /mnt/lustre/xushuang2/easton/data/libriSpeech/subword_data/tfdata/dev-clean_x
    test:
        scp: /mnt/lustre/xushuang2/easton/data/libriSpeech/feats/feats.test-clean.scp
        trans: /mnt/lustre/xushuang2/easton/data/libriSpeech/subword_data/test-clean.trans
        tfdata: /mnt/lustre/xushuang2/easton/data/libriSpeech/subword_data/tfdata/test-clean_x
    type: scp
    vocab: /mnt/lustre/xushuang2/easton/data/libriSpeech/subword_data/subword_3726.vocab
    # checkpoint: /mnt/lustre/xushuang2/easton/projects/EODM/exps/libri/libri_resconv_fc/hidden512/checkpoint/

data:
    featType: mfcc
    left_context: 2
    right_context: 0
    downsample: 3
    add_delta: False
    unit: word

model:
    G:
        d_model: 512
        num_layers: 6
        num_heads: 8
        dropout_rate: 0.1
        encoder:
            type: res_conv
            num_hidden: 512
            num_filters: 64
        decoder:
            type: fc

opti:
    type: adam
    lr: 0.0002
    decay_steps: 10000

dev_step: 600
decode_step: 600
save_step: 600

gpus: '0'
batch_size: 40
max_label_len: 100
num_supervised:
num_batch_tokens: 9000
bucket_boundaries: 229,331,388,417,436,450,462,472,481,489,496,503,510,517,524,531,547,817
